@font-face {
   font-family: 'Yekan';
   font-display: swap;
   src: url('file:///Users/alamalhoda/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-08-21_092959/fonts/Yekan/font.ttf');
}
